.container{
    padding: 20px;
    display: flex;
    gap: 5px;
    flex-direction: column;
}
a{
    text-align: center;
    display: inline;
    width: 33%;
    padding: 15px;
    background-color: gray;
}

.container>*{
    margin:auto;
}